.MenuInfo {
  .wrapper {
    display: flex;
    .image {
      img {
        width: 200px;
      }
    }
    .input {
      width: 100%;
      .item {
        display: flex;
        label {
          display: inline-block;
          width: 70px;
        }
        input {
          flex: 1;
        }
      }
    }
  }
}
