li.comment-item {
  padding: 5px 0;
  display: flex;
  font-size: 14px;
  color: #aaa;

  .author {
    width: 40px;
    display: flex;
    align-items: center;
  }
  .content {
    flex: 1;
    color: #888;
  }
  .delete-btn {
    cursor: pointer;
  }
}
