.menuList {
  header {
    display: flex;
    justify-content: space-between;
    .menu {
      display: flex;
      align-items: center;
      button {
        margin: 0 2px;
      }
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      .wrapper {
        margin-bottom: 0;
        cursor: pointer;
        h4 {
          margin-bottom: 5px;
        }
        .content {
          display: flex;
          .desc {
            margin-right: 20px;
            flex: 1;
            .url {
              color: darkolivegreen;
            }
            .description {
              margin-top: 10px;
              color: gray;
            }
            button {
              margin: 20px 2px;
            }
          }
          .image {
            img {
              width: 200px;
            }
          }
        }
      }
    }
  }
}
